html, body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

#root {
  height: 100vh;
}

* {
  box-sizing: border-box;
}

.GabungOutContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh; 
  align-items: center;
  background-color: #1A1A1D;
}

.GabungInContainer {
  margin: auto;
}

.GabungInput {
  border-radius: 5px;
  padding: 15px 20px;
  width: 100%;
}

.heading {
  color: white;
  font-size: 2.5em;
  padding-bottom: 10px;
  border-bottom: 2px solid white;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

button:focus {
  outline: 0;
}


@media screen and (min-width: 1080px) {
  .GabungOutContainer{
    width: 100vh;
    height: 100vh;
    margin: 0px auto;
  }
  .GabungInContainer {
    width: 90%;
  }
}
  @media screen and (min-width: 4080px) {
    .GabungOutContainer {
      width: 100vh;
      height: 100vh;
      overflow: hidden;
      margin: 0px auto;
    }
    .GabungInContainer {
      width: 90%;
    }
  }
@media screen and (min-width: 780px) {
  .GabungOutContainer {
    width:100%;
    height: 100vh;
    overflow: hidden;
    margin: 0px auto;
  }
  .GabungInContainer {
    width: 350px;
  }
}